# Database configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=backend_template_db
DB_PORT=5432

# Application configuration
APP_PORT=8000

# Configuration file path inside the container
CONFIG_PATH=/app/config.docker.yaml
